@model IEnumerable<MWS.Web.Models.CustomersSummary>

@{
    ViewData["Title"] = "Print Summary PDF";
    Layout = null;
}

<head>
    @* <link rel="stylesheet" href="~/dist/css/print-summary-pdf.css"> *@
    <link rel="stylesheet" href="~/dist/css/table-with-totals.css">
    @* <script src="~/dist/js/consumers-transaction-summary-pdf.js"></script> *@
    <script src="~/dist/js/table-with-parameter.js"></script>
    <script src="~/dist/js/html2pdf.bundle.js"></script>
</head>

<a onclick="myAlert()" id="pdfGenerate"></a>

<section class="pdfGenerate">
    
    
    <table id="table" class="bordered-table">
        <caption>
            <div class="container">
                <div class="left-col">
                    <img width="100" height="100" src="~/dist/img/mws_seal.png" class="mws-seal">
                </div>
                <div class="right-col">
                    <h3 class="main-header">MAGALLANES WATER SYSTEM</h3>
                    <p class="sub-header">Province of Cavite</p>
                    <p class="address-cta">Municipality of Magallanes, Cavite</p>
                    <h3 class="notice-cta">CUSTOMER SUMMARY OF TRANSACTIONS</h3>
                </div>
            </div>
            <p style="float:inherit">
                <span style="float:left"><b>Customer:</b> @Model.First().Name</span>
            <br />
                <span style="float:left"><b>Address:</b> @Model.First().Address</span>
            <br />
                <span style="float:left"><b>Account No:</b> @Model.First().AcctNo</span>
            <br />
                <span style="float:left"><b>Meter No:</b> @Model.First().MeterNo</span>
            </p>
        </caption>
        <thead>
        <tr>
            <th>
                <p>Type</p>
            </th>
            <th>
                <p>Month</p>
            </th>
             <th>
                 <p>Water Bill No</p>
             </th>
                <th>
                    <p>Reading</p>
                </th>
                <th>
                    <p>Consumed</p>
                </th>
                <th>
                    <p>Amount</p>
                </th>
                <th>
                    <p>Amount Paid</p>
                </th>
                <th>
                    <p>O.R</p>
                </th>
                <th>
                    <p>Date</p>
                </th>
                <th>
                    <p>Balance</p>
                </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                    <td>
                        <p class="s4">@item.Type</p>
                    </td>
                    <td>
                        <p class="s4">@item.Month</p>
                    </td>
                    <td>
                        <p class="s4">@item.WaterBillNo</p>
                    </td>
                    <td>
                        <p class="s4">@item.Reading2</p>
                    </td>
                    <td>
                        <p class="s4">@item.Consumed2</p>
                    </td>
                    <td>
                        <p class="s4">@item.AmountBilled2</p>
                    </td>
                    <td>
                        <p class="s4">@item.AmountPaid2</p>
                    </td>
                    <td>
                        <p class="s4">@item.OfficialReceipt</p>
                    </td>
                    <td>
                        @if (item.PresDate2.ToString("MM-dd-yyyy") == "10-19-1894")
                        {
                            <p class="s4">NA</p>
                        }
                        else
                        {
                            <p class="s4">@item.PresDate2.ToString("MM-dd-yyyy")</p>
                        }
                        
                    </td>
                    <td>
                        <p class="s4">@item.Balance2</p>
                    </td>
            </tr>
                <tr class="page-break"></tr>
            }
        </tbody>
    </table>
</section>

