@model IEnumerable<MWS.Web.Areas.Identity.Data.ApplicationUser>

@{
    ViewData["Title"] = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Accounts List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Accounts List</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section id="accounts-list" class="content">
        <div class="container-fluid">
            <div class="tab-pane fade show active" id="custom-tabs-five-overlay" role="tabpanel" aria-labelledby="custom-tabs-five-overlay-tab">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example2" data-widget="expandable-table" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>UserName</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model)
                                        {
                                            <tr>
                                                <td>@user.Id</td>
                                                <td>@user.LastName</td>
                                                <td>@user.FirstName</td>
                                                <td>@user.UserName</td>
                                                <td>@user.Email</td>
                                             @*   <td>
                                                    <a class="btn btn-info btn-xs" asp-controller="Accounts" asp-action="Update" asp-route-id="@user.Id"> <i class="fa fa-check-square"></i> EDIT</a>
                                                </td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a class="btn btn-primary wd-50" asp-controller="Accounts" asp-action="Register"> <i class="fa fa-plus-square"></i> REGISTER ACCOUNT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


